@model ZwartOpWit.Models.UserVM
@{

}
<h1>Create</h1>
<form asp-action="Create" asp-controller="User">
    <div>
        <div class="form-group">
            <label asp-for="user.Username">Username:</label>
            <input asp-for="user.Username" class="form-control" />
            <span asp-validation-for="user.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Email">Email:</label>
            <input asp-for="user.Email" class="form-control" />
            <span asp-validation-for="user.Email" class="text-danger"></span>
        </div>
        <input type="submit" value="Add User" class="btn btn-default" />
    </div>      
</form>